.h-overlay-properties-widget
  .h-style-group-row
    margin 10px 0

  .btn-default.active
    background-color #5790ff
    &:focus, &:hover
      background-color #4672cc

  .h-panel-name:before
    content " - "

  .h-panel-name
    display inline
    overflow hidden
    white-space nowrap
    text-overflow ellipsis
    font-weight normal

.h-overlay-toggle
  margin 0
  border-top 1px solid #ececec
  padding-top 8px
  padding-bottom 2px

  label
    margin 0 5px
    padding-top 5px

#h-overlay-offset-group
  label
    float left
    margin 5px 5px

  label:first-child
    display block
    float none

  span
    display block
    overflow hidden
    padding 0 5px 0 5px
    margin 0 0 5px 0
